<html>
  <body>
    <h1>hello world. This is chitti(The robot)</h1>
    <font color="blue"> Speed = 1THz, Memory =1ZB </font>
    <img src="http://vignette1.wikia.nocookie.net/raone/images/c/c5/Chitti_Robot.jpg/revision/latest?cb=20111031160123" alt="Mountain View" style="width:800px;height:500px;"> 
  </body>
</html>
